.button {
  @include transition;
  @include flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 300px;
  padding: 24px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  background-color: $orange;
  border: 1px solid transparent;
  border-radius: 50px;
  box-shadow: $main-box-shadow;

  @include hover {
    color: $orange;
    background-color: transparent;
    border: 1px solid $orange;

    .button__circle {
      background-color: $orange;
    }
  }

  @include active {
    transform: scale($down-scale);
    opacity: $down-opacity;
  }

  &--transparent {
    min-width: 180px;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    background-color: transparent;
    border: 1px solid $orange;
    box-shadow: none;

    @include hover {
      color: white;
      background-color: $orange;

      .button__circle {
        background-color: white;
      }
    }
  }

  &--large {
    @include padding-horizon(58px, 28px);
    @include padding-vertical(16px);
    position: relative;
    justify-content: flex-start;
    align-items: center;
    min-width: 220px;
    line-height: 100%;
    color: $orange;
    background-repeat: no-repeat;
  }
}

.button__circle {
  @include transition;
  display: block;
  width: 8px;
  height: 8px;
  margin-left: 7px;
  background-color: white;
  border-radius: 50%;
  animation: circleBounce;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  &:first-of-type {
    margin-left: 15px;
  }

  &:last-of-type {
    animation-delay: 0.2s;
  }

  &--transparent {
    width: 6px;
    height: 6px;
    background-color: $black-orange;
  }

  &:nth-child(2) {
    animation-delay: 0.1s;
  }
}

// <1536px
@include desktop-middle {
  .button {
    &--large {
      min-width: 200px;
    }

    &:not(.button--transparent) {
      min-width: 280px;
      padding: 20px;
      font-size: 18px;
      line-height: 120%;
    }
  }
}

// <1440px
@include desktop-small {
  .button {
    &--transparent {
      font-size: 14px;
      line-height: 124%;
    }

    &--large {
      min-width: 180px;
    }

    &:not(.button--transparent) {
      min-width: 260px;
      padding: 17px;
      font-size: 16px;
    }
  }
}

// <1200px
@include tablet {
  .button {
    &:not(.button--transparent) {
      min-width: 280px;
      padding: 20px;
      font-size: 18px;
    }
  }
}

// <768px
@include mobile {
  .button {
    &--transparent {
      min-width: 160px;
      color: white;
      background-color: $black-orange;

      @include hover {
        color: $orange;
        background-color: transparent;
        border: 1px solid $orange;

        .button__circle {
          background-color: $orange;
        }
      }
    }

    &--large {
      min-width: 300px;
      font-size: 16px;
      line-height: 20px;
      color: $orange;
      background-color: transparent;

      @include hover {
        color: white;
        background-color: $orange;
      }
    }

    &:not(.button--transparent) {
      @include center-margin;
      min-width: 300px;
      padding: 24px;
      font-size: 18px;
      line-height: 21px;
    }
  }

  .button__circle {
    &--transparent {
      background-color: white;
    }
  }
}
