.advantages {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: black;
}

.advantages__title-box,
.advantages__list {
  @include padding-horizon(15px);
  max-width: 1140px !important;
}

.advantages__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-indent: 0;
}

.advantages__container {
  padding-top: 3.4%;
}

.advantages__description {
  @include reset-margin-text;
  position: relative;
  padding-left: 64px;

  @include before {
    top: 0;
    left: 14px;
    z-index: 10;
    width: 31px;
    height: 31px;
    background-image: url('../img/svg/advantages/check.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }
}

.advantages__title-box {
  margin-bottom: 1.76%;
}

.advantages__item {
  margin-bottom: 4.2%;
}

.advantages__number-wrapper {
  padding-top: 5%;
  padding-bottom: 2%;
  background-image: url('../img/main/advantages/background.jpg');
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
}

.advantages__wrapper {
  @include flex-column;
  justify-content: space-between;
}

.advantages__number {
  @include flex;
  @include reset-margin-text;
  position: relative;
  margin-bottom: 17%;
  font-weight: bold;
  font-size: 130px;
  line-height: 120%;
  font-family: $font-family-oswald;

  @include after-clean {
    content: '+';
    display: inline-block;
  }
}

.advantages__number-description {
  @include reset-margin-text;
  font-size: 18px;
  line-height: 180%;
}

.advantages__value {
  position: relative;

  @include before {
    bottom: 0;
    z-index: 10;
    width: 60px;
    height: 3px;
    background-color: $orange;
  }

  &--projects {
    @include before-clean {
      left: 50px;
    }
  }

  &--years {
    @include before-clean {
      left: 40px;
    }
  }
}

// <1536px
@include desktop-middle {
  .advantages {
    font-size: 12px;
    line-height: 160%;
  }

  .advantages__description {
    padding-left: 48px;
    font-size: 15px;

    @include before-clean {
      top: 2px;
      left: 12px;
      width: 24px;
      height: 24px;
    }
  }

  .advantages__number {
    font-size: 110px;
  }

  .advantages__value {
    @include after-clean {
      width: 50px;
    }
  }

  .advantages__number-description {
    font-size: 15px;
  }
}

// <1440px
@include desktop-small {
  .advantages {
    font-size: 10px;
  }

  .advantages__description {
    padding-left: 40px;
    font-size: 13px;

    @include before-clean {
      left: 10px;
      width: 20px;
      height: 20px;
    }
  }

  .advantages__number {
    font-size: 100px;
  }

  .advantages__value {
    @include before-clean {
      width: 40px;
    }

    &--projects {
      @include before-clean {
        left: 45px;
      }
    }

    &--years {
      @include before-clean {
        left: 25px;
      }
    }
  }

  .advantages__number-description {
    font-size: 13px;
  }

  .advantages__list,
  .advantages__title-box {
    max-width: 100% !important;
  }
}


// <1200px
@include tablet {
  .advantages__container {
    @include flex;
    flex-grow: 1;
  }

  .advantages__box {
    @include flex;
  }
}


// <768px
@include mobile {
  .advantages {
    @include swiper;
    padding-top: 75px;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
  }

  .advantages__container {
    @include padding-mobile;
    margin-bottom: 25%;
    overflow: hidden;
  }

  .advantages__box {
    overflow: hidden;
  }

  .advantages__list {
    width: 100%;
  }

  .advantages__item {
    margin: 0;
  }

  .advantages__title-box {
    margin-bottom: 7.5%;
    padding: 0;
    text-align: left;
  }

  .advantages__description {
    margin-bottom: 13.1%;
    padding: 62px 10% 0;
    font-size: 15px;
    line-height: 133%;

    @include before-clean {
      @include center-transform-horizon;
      top: 0;
      width: 36px;
      height: 36px;
    }
  }

  .advantages__pagination {
    @include flex;
    justify-content: center;
    width: 100%;
  }

  .advantages__bullet {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: $gray;
    border-radius: 50%;

    &:last-of-type {
      margin-right: 0;
    }

    &--active {
      background-color: $orange;
    }
  }

  .advantages__number-wrapper {
    box-sizing: border-box;
    padding-top: 14%;
    padding-bottom: 28%;
    background-image: url('../img/main/advantages/background_mobile.jpg');
  }

  .advantages__number-box {
    margin-bottom: 13.2%;
    padding: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .advantages__number-inner {
    margin: 0;
  }

  .advantages__number {
    @include flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4.5%;
    font-size: 75px;
  }

  .advantages__number-description {
    font-size: 18px;
    line-height: 20px;
  }

  .advantages__value {
    padding-bottom: 13px;

    &--projects {
      @include before-clean {
        left: 57px;
      }
    }

    &--years {
      @include before-clean {
        bottom: 2px;
        left: 16px;
      }
    }
  }
}

