.home__video-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  min-width: 100vw;
  min-height: 100vh;

  @include before {
    top: 0;
    left: 0;
    z-index: 10;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.home__video {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: transparent;
  object-fit: cover;
}

.home__wrapper {
  @include flex;
  align-items: center;
  width: 100%;
}

.home__box {
  @include flex-column;
  position: relative;
  z-index: 5;
  justify-content: space-between;
  min-height: 810px;
  padding-top: 111px;
  padding-bottom: 100px;
}

.home__image {
  @include object-fit(contain);
}

.home__description {
  @include reset-margin-text;
  font-weight: bold;
  font-size: 52px;
  line-height: 72px;
  font-family: $font-family-oswald;
}

.home__info {
  @include flex;
  align-items: center;
  align-self: flex-end;
}

.home__rating {
  height: 70px;
}

.home__logo-box {
  width: 72%;
  height: 210px;
}

.home__link {
  margin-right: 8.7%;
}

.home__promo {
  margin-bottom: 3%;
}

// <1536px
@include desktop-middle {
  .home__box {
    min-height: 760px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .home__description {
    font-size: 48px;
    line-height: 160%;
  }

  .home__rating {
    height: 60px;
  }

  .home__logo-box {
    width: 78%;
    height: 189px;
  }
}

// <1440px
@include desktop-small {
  .home__box {
    min-height: 650px;
    padding-top: 95px;
    padding-bottom: 95px;
  }

  .home__description {
    font-size: 40px;
  }

  .home__rating {
    height: 50px;
  }

  .home__logo-box {
    width: 100%;
    height: 219px;
  }
}

// <1200px
@include tablet {
  .home__box {
    min-height: 750px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .home__description {
    font-size: 46px;
  }

  .home__rating {
    height: 60px;
  }

  .home__logo-box {
    height: 201px;
  }
}

// <768px
@include mobile {
  .home {
    position: relative;

    @include after {
      @include transition;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 61px;
      background-color: white;
      opacity: 0;
    }

    &--scroll {
      @include after-clean {
        opacity: 1;
      }
    }
  }

  .home__inner {
    @include header-padding-mobile;
    height: auto;
  }

  .home__box {
    min-height: auto;
    padding-top: 135px;
    padding-bottom: 0;
  }

  .home__promo {
    margin-bottom: 14.8%;
    padding-top: 0;
  }

  .home__logo {
    @include center-margin;
    margin-bottom: 12.5%;
  }

  .home__logo-box {
    height: 162px;
  }

  .home__description {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }

  .home__link {
    margin-bottom: 30.5%;
  }

  .home__rating {
    width: 100%;
    height: 33px;
  }

  .home__wrapper {
    position: relative;
    padding-bottom: 13px;
  }
}

