.main__item {
  &--home {
    color: white;
    background-color: black;
    background-image: url('../img/main/home/home.jpg');
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
  }
}

.main__wrapper {
  height: 100vh;
}

// <768px
@include mobile {
  .main__wrapper {
    height: auto;
  }

  .main__container {
    overflow: hidden;
  }
}
