.services__wrapper {
  @include flex;
  align-items: center;
  width: 100%;
  padding-bottom: 2.8%;
}

.services__container {
  @include flex-column;
  justify-content: space-between;
  min-height: 690px;
}

.services__list {
  @include reset-list;
  flex-grow: 0;
  min-height: 548px;
  font-size: 16px;
  line-height: 200%;
}

.services__item {
  position: relative;
  padding-top: 5.2%;
  padding-bottom: 10%;
  background-color: $gray-2;
  outline: none;
  transition: color $transition-duration ease, opacity $transition-duration ease;

  @include before {
    @include center-transform-vertical;
    right: 0;
    z-index: 10;
    width: 1px;
    height: 80%;
    background-color: $gray;
  }

  @include after {
    @include center-transform-horizon;
    bottom: 10%;
    z-index: 10;
    width: 43%;
    height: 7.3%;
    background-color: $gray-2;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  &:last-of-type {
    @include before-clean {
      display: none;
    }
  }

  &--web {
    @include after-clean {
      background-image: url('../img/svg/services/logo-1.svg');
    }
  }

  &--mobile {
    @include after-clean {
      background-image: url('../img/svg/services/logo-2.svg');
    }
  }

  &--design {
    @include after-clean {
      background-image: url('../img/svg/services/logo-3.svg');
    }
  }

  &--marketing {
    @include after-clean {
      background-image: url('../img/svg/services/logo-4.svg');
    }
  }

  &--maintenance {
    @include after-clean {
      background-image: url('../img/svg/services/logo-5.svg');
    }
  }

  &--active {
    @include flex-column;
    min-width: 66.66667%;
    max-width: 66.66667%;
    padding-top: 5.5%;
    padding-bottom: 4.5%;
    padding-left: 7.5%;

    @include after-clean {
      right: 22%;
      left: auto;
      width: 16.6%;
      height: 22.7%;
      transform: translateX(0);
      opacity: 0.2;
    }

    .services__box {
      @include flex;
      align-content: space-between;
      padding-left: 10.5%;
    }

    .services__caption {
      display: inline-block;
      font-weight: 500;
      color: $black-orange;
      writing-mode: lr;
    }

    .services__subtitle {
      flex-grow: 1;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .services__button {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 3% 0 0;
    }

    .services__button-icon {
      @include center-transform-vertical;
      position: absolute;
      left: 0;
      z-index: 10;
      width: 100%;
      background-color: $gray-3;

      &:first-of-type {
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        width: 100%;
        transform: rotate(-45deg);
      }

      &:nth-of-type(3) {
        display: none;
      }
    }

    .services__number {
      display: inline-block;
      margin: 0 1% 0 0;
    }

    .services__subtitle-box {
      @include flex;
      align-items: center;
      width: 100%;
      margin-bottom: 7%;
    }
  }


  &:not(.services__item--active) {
    cursor: pointer;

    @include hover {
      color: $black-orange;
    }

    @include active {
      opacity: 0.8;
    }
  }
}

.services__box {
  display: none;
  flex-grow: 1;
  width: 100%;
  font-size: 16px;
  line-height: 200%;
}

.services__sublist {
  @include reset-list;
  width: 100%;
}

.services__inner {
  flex-grow: 0;
}

.services__subtitle {
  @include flex-column;
  @include reset-margin-text;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 136%;
  font-family: $font-family-oswald;
  text-transform: uppercase;
}

.services__number {
  margin-bottom: 12%;
  font-weight: 200;
}

.services__caption {
  font-weight: normal;
  color: black;
  writing-mode: vertical-lr;
}

.services__button {
  @include flex-column;
  @include reset-button;
  @include center-margin;
  justify-content: space-between;
  width: 20px;
  height: 17px;
  margin-bottom: 31%;
  outline: 0;
}

.services__button-icon {
  height: 2px;
  background-color: $black-orange;

  &:first-of-type {
    width: 100%;
  }

  &:nth-of-type(2) {
    width: 75%;
  }

  &:nth-of-type(3) {
    width: 50%;
  }
}

.services__description {
  @include reset-margin-text;
}

// <1536px
@include desktop-middle {
  .services__list {
    min-height: 525px;
  }

  .services__wrapper {
    padding-bottom: 0;
  }
}

// <1440px
@include desktop-small {
  .services__container {
    min-height: 600px;
  }
}

// <1200px
@include tablet {
  .services__item {
    &--active {
      @include after-clean {
        right: 10%;
        bottom: 5%;
        width: 20%;
        height: 24%;
      }
    }

    &:not(.services__item--active) {
      @include after-clean {
        bottom: 4%;
        width: 50%;
      }
    }
  }

  .services__container {
    min-height: 700px;
  }
}

// <768px
@include mobile {
  .services__inner {
    margin-bottom: 7%;
  }

  .services__button {
    display: none;
  }

  .services__subtitle {
    @include transition;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 150%;
    color: $black-orange;
  }

  .services__caption {
    @include transition;
    writing-mode: lr;
  }

  .services__number {
    margin-right: 4%;
    margin-bottom: 0;
  }

  .services__container {
    min-height: auto;
  }

  .services__box {
    font-size: 14px;
  }

  .services__sublist {
    margin-bottom: 7%;
  }

  .services__item {
    min-width: 100%;
    max-width: 100%;
    padding: 0% 11% 5.5%;

    @include before-clean {
      display: none;
    }

    &:first-of-type {
      padding-top: 7%;
    }

    &--active {
      padding-bottom: 13%;

      @include after-clean {
        top: 41%;
        right: 12%;
        bottom: auto;
        width: 27%;
        height: 33%;
      }

      .services__number {
        margin-right: 4%;
      }

      .services__subtitle-box {
        margin-bottom: 5%;
      }

      .services__box {
        padding-left: 0;
      }
    }

    &:not(.services__item--active) {
      @include hover {
        .services__caption {
          color: $black-orange;
        }
      }

      @include active {
        opacity: 1;

        .services__subtitle {
          opacity: $down-opacity;
        }
      }
    }
  }
}
