<link rel="preload" href="fonts/Roboto-Regular.woff2" as="font">
<link rel="preload" href="fonts/Roboto-Medium.woff2" as="font">
<link rel="preload" href="fonts/Roboto-Bold.woff2" as="font">
<link rel="preload" href="fonts/Oswald-Bold.woff2" as="font">
<link rel="preload" href="fonts/Oswald-ExtraLight.woff2" as="font">
<link rel="preload" href="fonts/Oswald-Regular.woff2" as="font">
<link rel="preload" href="fonts/Oswald-SemiBold.woff2" as="font">
<link rel="preload" href="fonts/Oswald-Light.woff2" as="font">


