// Padding
$mobile-padding: 15px;
$tablet-padding: 30px;
$desktop-small-padding: 45px;
$desktop-padding: 60px;


// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


// Width
$window-width-sm: 576px;
$window-width-md: 768px;
$window-width-lg: 992px;
$window-width-xl: 1200px;
$window-width-xxl: 1440px;
$window-width-xxxl: 1536px;
$window-width: 1120px;

// Min width
  /* SM */
$min-window-width-sm: $window-width-sm - 1px;
  /* MD */;
$min-window-width-md: $window-width-md - 1px;
  /* LG */
$min-window-width-lg: $window-width-lg - 1px;
  /* XL */
$min-window-width-xl: $window-width-xl - 1px;
  /* XXL */
$min-window-width-xxl: $window-width-xxl - 1px;
  /* XXXL */
$min-window-width-xxxl: 1535px;

// Max width
$max-window-width: $window-width + ($desktop-padding * 2);


//Bootstrap
$grid-breakpoints: (
  xs: 0,
  sm: $window-width-sm,
  md: $window-width-md,
  lg: $window-width-lg,
  xl: $window-width-xl,
  xxl: $window-width-xxl
);

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
  xxl: $max-window-width
);
